body{
	background: #f8f8fa;
	overflow-y: auto;
}
header{
	background: #f8f8fa;
}
footer{
	height: 80px;
	position: static;
}
.aboutUs{
	width: 100%;
	margin-top: 120px;
}
.aboutUs img{
	width: 100%;
}
.aboutUs .title{
	font-size: 30px;
	text-align: center;
	margin-top: 60px;
}
.aboutUs .content{
	width: 1010px;
	margin: 0 auto;
	font-size: 22px;
	line-height: 36px;
	color: #505050;
	margin-top: 40px;
	text-align: center;
}
.aboutUs .slogan{
	font-size: 26px;
	line-height: 42px;
	text-align: center;
	margin-top: 40px;
}
.aboutUs ul{
	width: 950px;
	margin: 100px auto 125px;
}
.aboutUs ul li{
	height: 65px;
	width: 33.33%;
	border-right: 1px solid #505050;
	float: left;
}
.aboutUs ul li p{
	text-align: center;
	font-size: 60px;
	margin-top: -30px;
}
.aboutUs ul li:last-child{
	border-right: none;
}
.aboutUs ul li img{
	vertical-align: middle;
	width: auto;
    margin-left: -20px;
}
.aboutUs ul li label{
	font-size: 18px;
	margin-left: 114px;
}
.about-info{
	padding:20px 0;
	text-align:center;
}
.aboutUs .ct1200{
	width:1200px;
}
.about-info h2{
	padding-bottom:15px;
	position:relative;
	margin:30px 0;
	font-size:28px;
	font-family: "pingfang";
	font-weight:300;
}
.about-info h2:after{
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-20px;
	content:"";
	width:40px;
	height:2px;
	background-color:#0b0100;
}
.about-info p{
	line-height:35px;
	font-size:22px;
}
